# Переменные окружения и конфигурации
.envrc
.env
.env.local
.venv/
venv/

kaggle.json

*.pyc
__pycache__/
*.ipynb_checkpoints/

# Jupyter Notebook
*.ipynb_checkpoints/

# System files
.DS_Store

# Data files
data/*
!data/**/.gitkeep 
!data/raw/third_wave_coffee_shop.csv
!data/raw/synthetic_third_wave_q3.csv
!data/Data_Generation_Synthetic_Coffee_Shop.md
!data/synthetic_dataset.py

